.image
{
  width: 150px;
  height: 150px;
}
/* unvisited link */
a:link {
  color: green;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: orange;
}

.row {
  margin-left: 175px;
}
.centrar{
  display: flex;
  align-items: center;
}

.opcionesMensaje{
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.likes{
  background-image: url("../../../assets/img/likes.svg");
  background-size: 100px;
}
