<div class="col-md-6 mx-auto">
  <div class="text-center">
    <div class="bg-light">
      <div *ngIf="receta && receta.image1">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="identity.sub==receta.id_usuario">
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle text-right" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-cog"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item btn" [routerLink]="['/editar-receta', receta.id]">Editar</a>
                  <a class="dropdown-item btn" (click)="borrarReceta(receta.id)">Borrar</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
        <img
          src="http://proyectolaravel.com.devel/api/recetas/image/{{
            receta.image1
          }}"
          class="avatar_usuario"
        />
        <h1>{{ receta.nombre }}</h1>
        <b>Ingredientes:</b>
        <p>{{ receta.ingredientes }}</p>
        <div *ngIf="!mostrar">
          <a (click)="mostrarDatos()" class="btn btn-secondary mb-2"
            >Mostrar más</a
          >
        </div>
        <div *ngIf="mostrar">
          <a (click)="mostrarDatos()" class="btn btn-secondary mb-2">Ocultar</a>
        </div>
        <div *ngIf="mostrar">
          <b>Descripcion:</b>
          <p>{{ receta.descripcion }}</p>
          <b>Imágenes</b>
          <br />
          <img
            src="http://proyectolaravel.com.devel/api/recetas/image/{{
              receta.image1
            }}"
            alt=""
            class="image mx-2"
          />
          <img
            *ngIf="receta.image2"
            src="http://proyectolaravel.com.devel/api/recetas/image/{{
              receta.image2
            }}"
            alt=""
            class="image mx-2"
          />
          <img
            *ngIf="receta.image3"
            src="http://proyectolaravel.com.devel/api/recetas/image/{{
              receta.image3
            }}"
            alt=""
            class="image mx-2"
          />
          <br />
          <br />
          <b>Vídeos</b>
          <br />
          <video *ngIf="receta.video1" width="320" height="240" controls>
            <source
              src="http://proyectolaravel.com.devel/api/recetas/image/{{
                receta.video1
              }}"
              type="video/mp4"
            />
          </video>
          <video *ngIf="receta.video2" width="320" height="240" controls>
            <source
              src="http://proyectolaravel.com.devel/api/recetas/image/{{
                receta.video2
              }}"
              type="video/mp4"
            />
          </video>
        </div>
        <br />
        <div >
          <h1 class="ml-3">{{likes}}<img src="../../../assets/img/likes.svg" class="opcionesMensaje ml-3" /></h1>
        </div>
        <br />
      </div>
    </div>
    <hr />
    <div *ngIf="(like && like.id == null) || (like && like.gustado == 0)">
      <a (click)="darLike()" class="btn btn-success mb-2"><img src="../../../assets/img/pulgar-arriba.svg" class="opcionesMensaje " /></a>
    </div>
    <div *ngIf="like && like.id != null && like.gustado == 1">
      <a (click)="darLike()" class="btn btn-danger mb-2"><img src="../../../assets/img/pulgar-hacia-abajo.svg" class="opcionesMensaje " /></a>
    </div>
  </div>
  <form
    #submitComentario="ngForm"
    (ngSubmit)="enviarComentario(submitComentario)"
  >
    <div class="form-group text-center">
      <p>Deja tu opinión aquí:</p>
      <textarea
        name="comentario"
        #texto="ngModel"
        [(ngModel)]="comentario.texto"
        id="comentario"
        cols="50"
        rows="5"
        class="blockTextArea"
        maxlength="250"
      >
      </textarea>
      <br />
      <input type="submit" value="Enviar" class="btn btn-success" />
    </div>
  </form>
  <div *ngIf="comentarios" >
    <div class="row" *ngFor="let comentario of comentarios | paginate: {itemsPerPage: 5, currentPage: p, totalItems: comentarios.length}; let i=index">
      <div class="col bg-white ml-3" *ngIf="(i + 1) % 2 == 0">
        <p>
          <a [routerLink]="['/perfil-usuario', comentario.user.id]"
            ><b>{{ comentario.user.name }}</b></a
          >
        </p>
        <p>{{ comentario.texto }}</p>
      </div>
      <div class="col centrar"
          *ngIf="
            (identity.sub == comentario.id_usuario ||
            identity.sub == receta.id_usuario) && (i + 1) % 2 == 0
          "
        >
          <a
            (click)="borrarComentario(comentario.id)"
            class="btn btn-danger text-white"
            >Borrar</a
          >
        </div>
      <div class="col bg-light ml-3" *ngIf="(i + 1) % 2 != 0">
        <p>
          <a [routerLink]="['/perfil-usuario', comentario.user.id]"
            ><b>{{ comentario.user.name }}</b></a
          >
        </p>
        <p>{{ comentario.texto }}</p>

      </div>
      <div class="col centrar"
          *ngIf="
            (identity.sub == comentario.id_usuario ||
            identity.sub == receta.id_usuario) && (i + 1) % 2 != 0
          "
        >
          <a
            (click)="borrarComentario(comentario.id)"
            class="btn btn-danger text-white"
            >Borrar</a
          >
        </div>
      <!-- <div *ngIf="editar">
          <form
            #submitComentario="ngForm"
            (ngSubmit)="enviarComentario(submitComentario)"
          >
            <div class="form-group">
              <p>Deja tu opinión aquí:</p>
              <textarea
                name="comentario"
                #texto="ngModel"
                [(ngModel)]="comentario.texto"
                id="comentario"
                cols="30"
                rows="10"
              >
              </textarea>
              <div class="col">
                <input
                  type="submit"
                  value="Enviar"
                  class="btn btn-success btn-block"
                />
                <input
                  type="submit"
                  value="Borrar"
                  class="btn btn-success btn-block"
                />
              </div>
            </div>
          </form>
        </div>-->

    </div>
    <pagination-controls (pageChange)="p = ($event)" class="text-center"> </pagination-controls>
  </div>
</div>
