<div class="col-md-5 mx-auto">
  <h2>Bandeja de entrada</h2>
  <div *ngIf="mensajes && mensajes.length != 0">
    <div *ngFor="let mensaje of mensajes" class="bg-light">
      <div *ngIf="mensaje.user_enviado.id != identity.sub">
        <!-- Ver -->
        <a [routerLink]="['/ver-mensajes', mensaje.user_recibido.id]"
        >
          <img src="../../../assets/img/vision.svg" class="opcionesMensaje float-left" />
        </a>
        <!-- Datos -->
        <img
          src="http://proyectolaravel.com.devel/api/user/avatar/{{
            mensaje.user_enviado.avatar
          }}"
          class="avatarMensaje my-1 align-self-center"
        /><a [routerLink]="['/ver-mensajes', mensaje.user_enviado.id]"
          >{{ mensaje.user_enviado.name }} {{ mensaje.user_enviado.surname }}</a
        >
        <!-- Eliminar -->
        <a href="" (click)="borrarMensajes(mensaje.user_enviado.id)"
          ><img src="../../../assets/img/eliminar.svg" class="opcionesMensaje float-right" />
        </a>
      </div>
      <div *ngIf="mensaje.user_recibido.id != identity.sub">
        <!-- Ver -->
        <a [routerLink]="['/ver-mensajes', mensaje.user_recibido.id]"
        >
          <img src="../../../assets/img/vision.svg" class="opcionesMensaje float-left" />
        </a>
        <!-- Datos -->
        <img
          src="http://proyectolaravel.com.devel/api/user/avatar/{{
            mensaje.user_recibido.avatar
          }}"
          class="avatarMensaje align-self-center my-1"
        />{{ mensaje.user_recibido.name }}
          {{ mensaje.user_recibido.surname }}
        <!-- Eliminar -->
        <a href=""
          ><img src="../../../assets/img/eliminar.svg" class="opcionesMensaje float-right"
        /></a>
      </div>
      <p></p>
    </div>
  </div>
</div>
