.avatarMensaje {
  width: 75px;
  height: 75px;
  }
  img.avatarMensaje.align-self-center.my-1 {
    margin-left: 28.5%;
}
.opcionesMensaje{
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.borrar{
  width: 75px;
  height: 75px;
  vertical-align: middle;
}
