<div *ngIf="user1 && user1.rol==='usuario'">
  <p>No tiene permiso para acceder a esta zona</p>
</div>
<div *ngIf="user1 && user1.rol!=='usuario'">
  <table *ngIf="users" class="table table-hover table-striped text-center">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Rol</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Email</th>
        <th scope="col">Avatar</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th scope="row">{{user.id}}</th>
        <td scope="row">{{user.rol}}</td>
        <td scope="row">{{user.name}}</td>
        <td scope="row">{{user.surname}}</td>
        <td scope="row">{{user.email}}</td>
        <td scope="row">{{user.avatar}}</td>
        <td scope="row">
          <a *ngIf="identity.sub!=user.id" (click)="updateRol(user.id)" class="btn btn-warning">Cambiar rol</a>
          <a *ngIf="identity.sub!=user.id" (click)="deleteUser(user.id)" class="btn btn-info ml-2">Borrar</a>
        </td>
      </tr>

    </tbody>
  </table>

</div>
